<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="DongJu-Na https://github.com/DongJu-Na/spring-gpt">
<title>DEMO</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/main.min.css}" rel="stylesheet" />
<link th:href="@{/css/select2.min.css}" rel="stylesheet" />
</head>
<body>
	<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title"> DEMO </h2>
                </div>
                <div class="card-body">
                    <form id="dataForm" method="POST">
                        <div class="form-row">
                            <div class="name">문구 1</div>
	                            <div class="value">
	                                <div class="input-group">
	                                    <input class="input--style-5" type="text" id="input1" name="input1">
	                                </div>
	                            </div>
                        </div>
                        
                      	<div class="form-row">
                            <div class="name">문구 2</div>
	                            <div class="value">
	                                <div class="input-group">
	                                    <input class="input--style-5" type="text" id="input2" name="input2">
	                                </div>
	                            </div>
                        </div>
                        
                       	<div class="form-row">
                            <div class="name">문구 3</div>
	                            <div class="value">
	                                <div class="input-group">
	                                    <input class="input--style-5" type="text" id="input3" name="input3">
	                                </div>
	                            </div>
                        </div>
                        
                       <div class="form-row">
                            <div class="name">문구 4</div>
	                            <div class="value">
	                                <div class="input-group">
	                                    <input class="input--style-5" type="text" id="input4" name="input4">
	                                </div>
	                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="name">문구 5</div>
	                            <div class="value">
	                                <div class="input-group">
	                                    <input class="input--style-5" type="text" id="input5" name="input5">
	                                </div>
	                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="name">성별</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search" style="width: 100%">
                                        <select id="sex" name="sex">
                                            <option disabled="disabled" selected="selected">선택</option>
                                            <option value="">무관</option>
                                            <option value="남자">남자</option>
                                            <option value="여자">여자</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                       <div class="form-row">
                            <div class="name">나이</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search" style="width: 100%">
                                        <select id="age" name="age">
                                            <option disabled="disabled" selected="selected">선택</option>
                                            <option value="">무관</option>
                                            <option value="10대">10 대</option>
                                            <option value="20대">20 대</option>
                                            <option value="30대">30 대</option>
                                            <option value="40대">40 대</option>
                                            <option value="50대">50 대</option>
                                            <option value="60대">60 대</option>
                                            <option value="70대">70 대</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
						<div class="form-row">
                            <div class="name">브랜드 명</div>
	                            <div class="value">
	                                <div class="input-group">
	                                    <input class="input--style-5" type="text" id="maker" name="maker">
	                                </div>
	                            </div>
                        </div>
                        
                        
                        <div>
                            <button onclick="f_restFulApiSet()" class="btn btn--radius-2 btn--red" type="button">AI 추천</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script  src="/js/bootstrap.min.js"></script>
	<script  src="/js/jquery.min.js"></script>
	<script  src="/js/select2.min.js"></script>
	<script  src="/js/global.js"></script>
    <script>
    $(function(){
    	jQuery.fn.serializeObject = function() {
			  var obj = null;
			  try {
			    if(this[0].tagName && this[0].tagName.toUpperCase() == "FORM" ) {
			      var arr = this.serializeArray();
			      if(arr){
			        obj = {};    
			        jQuery.each(arr, function() {
			        obj[this.name] = this.value;
			        });             
			      }
			    }
			  }catch(e) {
			    alert(e.message);
			  }finally  {}
			  return obj;
			}
   	});

	
    	function f_restFulApiSet(){
    		
    		$.ajax({
    		    type : 'post',
    		    url : '/api/getRecommendedAdText',
    		    async :false,
    		    headers : { 
    		      "Content-Type" : "application/json",
    		    },
    		    dataType : 'json', 
    		    data : JSON.stringify($("#dataForm").serializeObject()),
    		    success : function(result) {
    		        console.log(result);
    		        if(result.choices.length > 0){
    		        	$("#input1 ,#input2 ,#input3 ,#input4 ,#input5").val("");    		        	
    		        	let data = result.choices[0].message.content.replaceAll("\n","").replaceAll("\\","").split("#").splice(1,5);
    		        	if(data.length === 5){
    		        		for(var x=0; x < data.length ; x++){
    		        			$(`#input${(x+1)}`).val(data[x]);
    		        		}	
    		        	}
    		        	
						    		        	
    		        }
    		    },
    		    error : function(request, status, error) {
    		        console.error(error);
    		    }
    		})
    		
    	}
    	
 
    </script>
</body>
</html>